.clockcontainer{
    position: relative;
    margin: auto;
    height: 30vw;
    width: 30vw;
    background: url(clock.jpeg) no-repeat;
    background-size: 100%;

}
#hour, #minutes, #second{
    position: absolute;
    background-color: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 5px;
    height: 25%;
    top: 25%;
    left: 50%;
}
#minutes{
    width: 5px;
    height: 30%;
    top: 20%;
    left: 50%;
}
#second{
    width: 5px;
    height: 40%;
    top: 10%;
    left: 50%;
}